.App {
  text-align: center;
}
.gameBoard {
  margin:0 auto;
  margin-top:5px;
  height:650px;
  width: 100%;
  border: 1px solid black;
}
.player {
  height:10px;
  width: 10px;
  background-color: gold;
}
.enemy {
  height:10px;
  width: 10px;
  background-color: red;
}
.HUD {
  width: 100%;
  border-bottom: 1px solid black;
  list-style: none;
  padding: 0;
  text-align: left;
}
.hbC {
  height:9px;
  border:1px solid black;
  display: inline-block;
  border-radius:10%;
}
.hbI {
  height: 100%;
}
li {
    display: inline-block;
    margin-right:3px;
    border-right:1px solid black;
    padding:3px;
}

